# Zainab Mohammad

## Research question/interests


**Do either an individualâ€™s age or the amount of music they listen to have an effect on their mental health; which one has a stronger correlation with mental health?**


I have a profound interest in how various lifestyle factors can influence an individual's health and general well-being. Thus, for this project, my group decided that observing a common lifestyle factor like music and attempting to learn how it may affect an individual's mental health would be a worthwhile idea. Particularly, I have chosen to concentrate on discovering if there is a correlation between an individual's age, the number of hours they spend listening to music every day, and their mental health.


**Analysis Plan:**


I plan on using the "Age" and "Hours per day" columns, as well as the four mental health columns, "Anxiety", "Depression", "Insomnia", and "OCD". Hence, I will create a new, processed table that only includes six columns, with the data corresponding to these six variables.


Next, I plan to create an "Hours per day in %" column, by expressing the values in the "Hours per day" column as a percentage, using this calculation: (value/24) * 100.


While I will be examining the effects of age and hours of music on each of the four mental health conditions, I will likely also produce visualizations depicting the effects on *overall mental health*. To examine mental health as a whole, I will add the values from the four mental health columns to create an additional "Overall Mental Health" column, which includes the sum of the four columns' values, out of 40. For simplicity, I'll likely further convert this new column such that it is out of 100- this will be done by mulitplying the values in the "Overall Mental Health" column by 2.5.


Since I hope to examine the effects of amount of music listened to per day on mental health, and compare that to the effects of age on mental health, I will likley create ten reshaped datasets. The columns of each dataset will be as such:
- "Hours per day in %", "Anxiety"
- "Hours per day in %", "Depression"
- "Hours per day in %", "Insomnia"
- "Hours per day in %", "OCD"
- "Hours per day in %", "Overall Mental Health"
<br>
<br>
- "Age", "Anxiety"
- "Age", "Depression"
- "Age", "Insomnia"
- "Age", "OCD"
- "Age", "Overall Mental Health"




These datasets will be used to produce respective visualizations. The details are yet to be finalized; creating some visualizations first shall allow me to further narrow down my next steps.

In [28]:
import pandas as pd
import numpy as np

# Loading the dataset

dataset = pd.read_csv('../data/raw/music_therapy_and_mental_health_survey_results (1).csv')
dataset

,Timestamp,Age,Primary streaming service,Hours per day,While working,Instrumentalist,Composer,Fav genre,Exploratory,Foreign languages,...,Frequency [R&B],Frequency [Rap],Frequency [Rock],Frequency [Video game music],Anxiety,Depression,Insomnia,OCD,Music effects,Permissions
0,8/27/2022 19:29:02,18.0,Spotify,3.0,Yes,Yes,Yes,Latin,Yes,Yes,...,Sometimes,Very frequently,Never,Sometimes,3.0,0.0,1.0,0.0,NaN,I understand.
1,8/27/2022 19:57:31,63.0,Pandora,1.5,Yes,No,No,Rock,Yes,No,...,Sometimes,Rarely,Very frequently,Rarely,7.0,2.0,2.0,1.0,NaN,I understand.
2,8/27/2022 21:28:18,18.0,Spotify,4.0,No,No,No,Video game music,No,Yes,...,Never,Rarely,Rarely,Very frequently,7.0,7.0,10.0,2.0,No effect,I understand.
3,8/27/2022 21:40:40,61.0,YouTube Music,2.5,Yes,No,Yes,Jazz,Yes,Yes,...,Sometimes,Never,Never,Never,9.0,7.0,3.0,3.0,Improve,I understand.
4,8/27/2022 21:54:47,18.0,Spotify,4.0,Yes,No,No,R&B,Yes,No,...,Very frequently,Very frequently,Never,Rarely,7.0,2.0,5.0,9.0,Improve,I understand.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,10/30/2022 14:37:28,17.0,Spotify,2.0,Yes,Yes,No,Rock,Yes,Yes,...,Never,Rarely,Very frequently,Never,7.0,6.0,0.0,9.0,Improve,I understand.
732,11/1/2022 22:26:42,18.0,Spotify,1.0,Yes,Yes,No,Pop,Yes,Yes,...,Never,Never,Sometimes,Sometimes,3.0,2.0,2.0,5.0,Improve,I understand.
733,11/3/2022 23:24:38,19.0,Other streaming service,6.0,Yes,No,Yes,Rap,Yes,No,...,Sometimes,Sometimes,Rarely,Rarely,2.0,2.0,2.0,2.0,Improve,I understand.
734,11/4/2022 17:31:47,19.0,Spotify,5.0,Yes,Yes,No,Classical,No,No,...,Never,Never,Never,Sometimes,2.0,3.0,2.0,1.0,Improve,I understand.
735,11/9/2022 1:55:20,29.0,YouTube Music,2.0,Yes,No,No,Hip hop,Yes,Yes,...,Very frequently,Very frequently,Very frequently,Rarely,2.0,2.0,2.0,5.0,Improve,I understand.

In [29]:
# Want to delete certain columns hence I am printing out column list, so I can copy-paste list into next command instead of manually typing out every column name

dataset.columns.values

array(['Timestamp', 'Age', 'Primary streaming service', 'Hours per day',
       'While working', 'Instrumentalist', 'Composer', 'Fav genre',
       'Exploratory', 'Foreign languages', 'BPM', 'Frequency [Classical]',
       'Frequency [Country]', 'Frequency [EDM]', 'Frequency [Folk]',
       'Frequency [Gospel]', 'Frequency [Hip hop]', 'Frequency [Jazz]',
       'Frequency [K pop]', 'Frequency [Latin]', 'Frequency [Lofi]',
       'Frequency [Metal]', 'Frequency [Pop]', 'Frequency [R&B]',
       'Frequency [Rap]', 'Frequency [Rock]',
       'Frequency [Video game music]', 'Anxiety', 'Depression',
       'Insomnia', 'OCD', 'Music effects', 'Permissions'], dtype=object)

In [53]:
# Dropping all columns from dataset except the six I will be working with ("Age", "Hours per day", and the four mental health columns, "Anxiety", "Depression", "Insomnia", and "OCD")
# Naming the adjusted dataset as "filtered"

filtered = dataset.drop(columns=['Timestamp', 'Primary streaming service', 'While working', 'Instrumentalist', 'Composer', 'Fav genre', 'Exploratory', 'Foreign languages', 'BPM', 'Frequency [Classical]', 'Frequency [Country]', 'Frequency [EDM]', 'Frequency [Folk]', 'Frequency [Gospel]', 'Frequency [Hip hop]', 'Frequency [Jazz]', 'Frequency [K pop]', 'Frequency [Latin]', 'Frequency [Lofi]', 'Frequency [Metal]', 'Frequency [Pop]', 'Frequency [R&B]', 'Frequency [Rap]', 'Frequency [Rock]', 'Frequency [Video game music]', 'Music effects', 'Permissions'])
filtered

      Age  Hours per day  Anxiety  Depression  Insomnia  OCD
0    18.0            3.0      3.0         0.0       1.0  0.0
1    63.0            1.5      7.0         2.0       2.0  1.0
2    18.0            4.0      7.0         7.0      10.0  2.0
3    61.0            2.5      9.0         7.0       3.0  3.0
4    18.0            4.0      7.0         2.0       5.0  9.0
..    ...            ...      ...         ...       ...  ...
731  17.0            2.0      7.0         6.0       0.0  9.0
732  18.0            1.0      3.0         2.0       2.0  5.0
733  19.0            6.0      2.0         2.0       2.0  2.0
734  19.0            5.0      2.0         3.0       2.0  1.0
735  29.0            2.0      2.0         2.0       2.0  5.0

[736 rows x 6 columns]

In [54]:
# Counting how many rows of complete data (non-missing/non-null) there are for each of the six columns in "filtered"

filtered.count()

Age              735
Hours per day    736
Anxiety          736
Depression       736
Insomnia         736
OCD              736
dtype: int64

In [55]:
# Counting how many rows of missing/null) there are for each of the six columns in "filtered" (this is just supportive to the last code) 

filtered.isnull().sum()

Age              1
Hours per day    0
Anxiety          0
Depression       0
Insomnia         0
OCD              0
dtype: int64

In [56]:
# I observed that the "Age" column had one missing/null value, so I am dropping that entire row from my "filtered" dataset
# Naming the adjusted dataset as "filterdrop"

filterdrop = filtered.dropna(subset=['Age'])
filterdrop

      Age  Hours per day  Anxiety  Depression  Insomnia  OCD
0    18.0            3.0      3.0         0.0       1.0  0.0
1    63.0            1.5      7.0         2.0       2.0  1.0
2    18.0            4.0      7.0         7.0      10.0  2.0
3    61.0            2.5      9.0         7.0       3.0  3.0
4    18.0            4.0      7.0         2.0       5.0  9.0
..    ...            ...      ...         ...       ...  ...
731  17.0            2.0      7.0         6.0       0.0  9.0
732  18.0            1.0      3.0         2.0       2.0  5.0
733  19.0            6.0      2.0         2.0       2.0  2.0
734  19.0            5.0      2.0         3.0       2.0  1.0
735  29.0            2.0      2.0         2.0       2.0  5.0

[735 rows x 6 columns]

In [72]:
# Checking the data types of each of the six columns in "filterdrop"
print(filterdrop.dtypes)

Age              float64
Hours per day     object
Anxiety          float64
Depression       float64
Insomnia         float64
OCD              float64
dtype: object

In [101]:
# Specifically checking the data type of "Hours per day" column

type("Hours per day")

str

In [97]:
# I need all my columns to be float data types; all columns except "Hours per day" are, so I'll convert this column to float type next, and then check the dataset's columns' data types again to ensure successful conversion: 

filterdrop['Hours per day'] = filterdrop['Hours per day'].astype(float)
filterdrop.dtypes

C:\Users\12508\AppData\Local\Temp\ipykernel_10812\1211164340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filterdrop['Hours per day'] = filterdrop['Hours per day'].astype(float)

Age              float64
Hours per day    float64
Anxiety          float64
Depression       float64
Insomnia         float64
OCD              float64
dtype: object

In [108]:
# Next, I want to express the "Hours per day" column as a percentage, so I'll make a new column as such:

filterdrop['Hours per day in %'] = filterdrop['Hours per day'] / 24 * 100
filterdrop

,Age,Hours per day,Anxiety,Depression,Insomnia,OCD,Hours per day in %
0,18.0,3.0,3.0,0.0,1.0,0.0,12.500000
1,63.0,1.5,7.0,2.0,2.0,1.0,6.250000
2,18.0,4.0,7.0,7.0,10.0,2.0,16.666667
3,61.0,2.5,9.0,7.0,3.0,3.0,10.416667
4,18.0,4.0,7.0,2.0,5.0,9.0,16.666667
...,...,...,...,...,...,...,...
731,17.0,2.0,7.0,6.0,0.0,9.0,8.333333
732,18.0,1.0,3.0,2.0,2.0,5.0,4.166667
733,19.0,6.0,2.0,2.0,2.0,2.0,25.000000
734,19.0,5.0,2.0,3.0,2.0,1.0,20.833333
735,29.0,2.0,2.0,2.0,2.0,5.0,8.333333

In [109]:
# Just out of curiousity, I want to check the various statitstics of the "filterdrop" dataset

filterdrop.describe(include=np.number).T

,count,mean,std,min,25%,50%,75%,max
Age,735.0,25.206803,12.054970,10.0,18.000000,21.0,28.000000,89.0
Hours per day,735.0,3.573537,3.030187,0.0,2.000000,3.0,5.000000,24.0
Anxiety,735.0,5.833333,2.792515,0.0,4.000000,6.0,8.000000,10.0
Depression,735.0,4.798639,3.030206,0.0,2.000000,5.0,7.000000,10.0
Insomnia,735.0,3.740816,3.090126,0.0,1.000000,3.0,6.000000,10.0
OCD,735.0,2.631293,2.839383,0.0,0.000000,2.0,4.500000,10.0
Hours per day in %,735.0,14.889739,12.625780,0.0,8.333333,12.5,20.833333,100.0

In [116]:
# Next, I want to express the four mental health columns, "Anxiety", "Depression", "Insomnia", and "OCD", as an overall mental health column, and give its values as a number out of 100:

filterdrop['Overall Mental Health (out of 100)'] = (filterdrop['Anxiety'] + filterdrop['Depression'] + filterdrop['Insomnia'] + filterdrop['OCD'])*2.5
filterdrop

,Age,Hours per day,Anxiety,Depression,Insomnia,OCD,Hours per day in %,Overall Mental Health (out of 100)
0,18.0,3.0,3.0,0.0,1.0,0.0,12.500000,10.0
1,63.0,1.5,7.0,2.0,2.0,1.0,6.250000,30.0
2,18.0,4.0,7.0,7.0,10.0,2.0,16.666667,65.0
3,61.0,2.5,9.0,7.0,3.0,3.0,10.416667,55.0
4,18.0,4.0,7.0,2.0,5.0,9.0,16.666667,57.5
...,...,...,...,...,...,...,...,...
731,17.0,2.0,7.0,6.0,0.0,9.0,8.333333,55.0
732,18.0,1.0,3.0,2.0,2.0,5.0,4.166667,30.0
733,19.0,6.0,2.0,2.0,2.0,2.0,25.000000,20.0
734,19.0,5.0,2.0,3.0,2.0,1.0,20.833333,20.0
735,29.0,2.0,2.0,2.0,2.0,5.0,8.333333,27.5

In [ ]:
# Now, I  can start preparing

In [113]:
#filterdrop = filterdrop.drop(columns=['Overall Mental Health in %'])

In [115]:
#filterdrop

,Age,Hours per day,Anxiety,Depression,Insomnia,OCD,Hours per day in %,Overall Mental Health (out of 100)
0,18.0,3.0,3.0,0.0,1.0,0.0,12.500000,10.0
1,63.0,1.5,7.0,2.0,2.0,1.0,6.250000,30.0
2,18.0,4.0,7.0,7.0,10.0,2.0,16.666667,65.0
3,61.0,2.5,9.0,7.0,3.0,3.0,10.416667,55.0
4,18.0,4.0,7.0,2.0,5.0,9.0,16.666667,57.5
...,...,...,...,...,...,...,...,...
731,17.0,2.0,7.0,6.0,0.0,9.0,8.333333,55.0
732,18.0,1.0,3.0,2.0,2.0,5.0,4.166667,30.0
733,19.0,6.0,2.0,2.0,2.0,2.0,25.000000,20.0
734,19.0,5.0,2.0,3.0,2.0,1.0,20.833333,20.0
735,29.0,2.0,2.0,2.0,2.0,5.0,8.333333,27.5